*{
    font-family: 'Fira Sans', sans-serif;
}
.navbar{
    display:flex;
    justify-content: space-between;
}
.logo{
    display:flex;
    margin:0.8rem;
    padding:0.3rem;
    /* justify-content: space-between; */

}

ul li{
    list-style: none;
    /* border:2px solid blue; */
    margin:0.8rem
}
ul li a{
    text-decoration: none;
    color: black;
}
.navbar img{
     height:2rem;
     margin-top:0.46rem;
}
.btn{
    
    padding: 0.4rem;
   border-radius:0.4rem;
   background-color:#d9d2d9;
   color:orange;
   border-color: rgb(216, 220, 224);
    width:5rem;
    margin-right:4rem;
}
.img{
    margin-top:1rem;
    padding:0.3rem
}
.back-img{
    /* border:2px solid red; */
   background-repeat: no-repeat;
    background-size:contain;
    height:85vh;
    width:auto;
    object-fit: cover;
    background-image:url(https://assets.leetcode.com/users/images/631b1b00-3eb7-4d35-b437-5a03bb87d501_1652094030.359858.png);
}
.box{
    display:flex;
    justify-content: space-around;
    /* box-shadow: 2px 2px 15px gray; */
    flex-wrap: wrap;
    
    /* overflow: scroll; */
    
}
.inner-box{
      /* border:2px solid orange; */
      height:20rem;
      margin-top: 0.4rem;
      width:27rem;
      border-radius:1rem;
      box-shadow: 1px 1px 5px gray;
}
.inner-box:hover{
    transform:scale(1, 1.1);
    box-shadow: 2px 2px 15px gray;
    transform: skew(2deg);
    cursor: pointer;
}
#img-1{
    
  
     height:15rem;
     width: 27rem;
     border-radius:1rem 1rem 0 0;
     
}


@media only screen and (max-width:1000px)
{
    .back-img{
        height:45vh;
        width:auto;
    }
    .btn{
        display:none;
    }
}
@media only screen and (max-width:600px)
{
    .back-img{
        height:38vh;
        width:auto;
        overflow: scroll;
    }
    .btn{
        display:none;
    }
}
@media only screen and (max-width:300px)
{
    .back-img{
        height:30vh;
        width:auto;
        overflow: scroll;
    }
}
.inner-box p{
    font-size: small;
    color:grey;
    margin:0.6rem;
}
.inner-box h4{
    margin:0.6rem;
}
.carousel{
    /* border:2px solid red; */
    margin-top:0.4rem;
    margin-bottom: 3.5rem;
}
.contests{
    box-shadow: 3px 3px 15px lightgray;
}
.flex{
    display:flex;
    /* border:2px solid blue; */
    background-color:  #f4f1fa;
    
    justify-content: space-between;
}
.inner-flex{
    display:flex;
    justify-content: space-between;
    margin:0.4rem
    /* border:2px solid orange; */
   
}
.inner-flex h4{
    margin-left:3.8rem;
    font-size: medium;
    justify-content: space-between;
}
.inner-flex h3{
    font-size: medium;
    margin-left:1.5rem;
}
#virtual{
    font-size:small;
}
.virtual{
    font-size: smaller;
    color:rgba(59, 22, 59, 0.664);
    background-color: rgba(252, 209, 252, 0.95);
    border-radius: 0.2rem;
}
.flex img{
    overflow: hidden;
    width:11rem;
    height:6rem;
    background-size: cover;
    border-radius:0.7rem;
    padding:0.2rem;
}

.col p{
    margin-left:1.4rem;
    font-size: small;
    color:grey;
}
.carousel-img{
    
    height:13rem;
    width: 17rem;
    border-radius:1rem 1rem ;
    margin:0.3rem;
    
}
.inner-box-2{
    height:15rem;
    width:15rem;
    border-radius:1rem 1rem 0 0;
    margin:1rem;
    padding:1rem;
}
.inner-box-2 p{

    margin-left:3.8rem;
    font-size: small;
    color:grey;
}
.inner-box-2 h4{

    margin-left:3.8rem;
    font-size: medium;
    cursor: pointer;
    justify-content: space-between;
}
.inner-box-2 img:hover{
    transform:scale(1, 1.1);
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    transform: skew(2deg);
}
@media only screen and (max-width:750px){
   .flex .inner-flex img{
        display:none;
    }
}
